# <center>Assignment

Download the file `athlete_events.csv` The dataset has the following features:

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [1]:
import pandas as pd

In [2]:
# Change the path to the dataset file if needed. 
PATH = '~/jupyter_dir/athlete events.csv'

In [3]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1988 Olympics?__

In [4]:
data[(data['Year'] == 1988)].groupby(['Sex']).agg({'Age': 'min'})

      Age
Sex
F    11.0
M    12.0

__2. What was the percentage of female basketball players among all the female participants of the 2012 Olympics? Round the answer to the first decimal.__

*Hint:* drop duplicate athletes where necessary to count each athlete just once. This applies to other questions too.

In [106]:
full = data[['Name', 'Sport']][(data['Year'] == 2012) & (data['Sex'] == 'F')].drop_duplicates()
result = round(full['Name'][(full['Sport'] == 'Basketball')].drop_duplicates().count()/full['Name'].count()*100, 1)
print('Percentage of female basketball players:', result, '%')

Percentage of female basketball players: 3.1 %

__3. What are the mean and max of height for female tennis players who participated in the 1988 Olympics? Round the answer to the first decimal.__

In [24]:
round(data[(data['Year'] == 1988) & (data['Sex'] == 'F') & (data['Sport'] == 'Tennis')].drop_duplicates(['Name', 'NOC']).agg({'Height' : ['mean', 'max']}), 1)

      Height
mean   171.1
max    190.0

__4. Find the heaviest athlete among 1988 Olympics participants. What sport did he or she do?__

In [10]:
data[['Name', 'Sport', 'Weight']][(data['Weight'] == data['Weight'][data['Year'] == 1988].max()) & (data['Year'] == 1988)]

              Name          Sport  Weight
270643  Ji Zubrick  Weightlifting   161.0

__5. How many times did John Aalberg participate in the Olympics held in different years?__

In [11]:
data['Year'][(data['Name'] == 'John Aalberg')].drop_duplicates().count()

2

__6. How many events did John Aalberg participate in during the Olympics held in Albertville?__

In [12]:
len(data['Event'][(data['Name'] == 'John Aalberg') & (data['City'] == 'Albertville')].unique())

4

__7. How many gold medals in tennis did the Belarus team win at the 2012 Olympics?__

In [85]:
df = data[(data['Year'] == 2012) & (data['NOC'] == 'BLR') & (data['Sport'] == 'Tennis') & (data['Medal'] == 'Gold')].drop_duplicates('Event')
print('Medal:', df['Medal'].count())

Medal: 1

__8. Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__

In [87]:
ita = data['Medal'][(data['Year'] == 2016) & (data['NOC'] == 'ITA')].count()
esp = data['Medal'][(data['Year'] == 2016) & (data['NOC'] == 'ESP')].count()
print(esp < ita)
# It is true that Spain won fewer medals than Italy at the 2016 Olympics

True

__9. What is the absolute difference between the number of unique sports at the 1988 Olympics and 2002 Olympics?__

In [89]:
sport1988 = data['Sport'][data['Year'] == 1988].drop_duplicates().count()
sport2002 = data['Sport'][data['Year'] == 2002].drop_duplicates().count()
print(sport1988 - sport2002)
# There were more unique sports at the 1988 Olympics than in 2002

22

__10. Who won the highest number of medals overall?__
    
*Hint*: country

In [133]:
df = data.drop_duplicates(['NOC', 'Year', 'Event', 'Medal']).groupby(['NOC']).count()
print(df['Medal'].idxmax(), df['Medal'].max())

USA 2823